.dog {
  background-color: black;
}
.info-group {
  display: flex;
}
.info-group > img {
  height: 20px;
}
.contact-card {
  margin: 5px;

  border: solid black;
  margin-right: 600px;
  padding-left: 3px;
}
